############################################
# ignore stuff like output, profiles, etc. #
############################################

output
outputs
profile.*
profiles
Makefile
Makefile*
obj
inputs/*.hig
data/*.hd5
data/*.dat
data/obj
bin/*
.build
.scon*
config.log
site_scons/site_tools/cuda.pyc
*.sh
*.swp
