############################################
# ignore stuff like output, profiles, etc. #
############################################

output
outputs
profile.*
profiles
obj
bin/*
lib/*
.scon*
config.log
site_scons/site_tools/cuda.pyc
*.swp
*.sh
