############################################
# ignore stuff like output, profiles, etc. #
############################################

output
outputs
profile.*
profiles
obj
bin/*
lib/*
.build
.scon*
config.log
site_scons/site_tools/cuda.pyc
*.sh
*.swp
